<!-- File: create_post_form.html
Author: Niyoo Nedi (nnedi@bu.edu), 2/21/2026
Description: File that will contain the form to create posts for the mini_insta project -->

{% extends 'mini_insta/base.html' %}
 
{% block content %}
    
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h2>Add a post!</h2>
        
        <form method = 'POST' enctype="multipart/form-data">
        
        {{form.as_p}}
        
        <label for="files">Upload image(s):</label> 
        <input type="file" name="files" id="files" multiple> 
        <br>
        
        <input type='submit' name = 'Add Post!' value= 'Add Post!'>
        <p></p>
        <a href="{% url 'profile' %}" class="cancel-btn">Cancel</a>
        
        {% csrf_token %}
        </form>
    </div>
 
{% endblock %}