<!-- File: show_followers.html
Author: Niyoo Nedi (nnedi@bu.edu), 03/01/2026
Description: File that contains the html that shows a specific profile's followers for the mini_insta project -->

{% extends 'mini_insta/base.html' %}

{% block content %}
    <h2>Followers of {{ profile.display_name }}</h2>

    <ul>
        {% for p in profile.get_followers %}

            <li>
                <a href="{% url 'profile' p.pk %}">{{ p.display_name }}</a>
            </li>
            
        {% empty %}
            <li>No followers yet.</li>

        {% endfor %}
    </ul>

    <a href="{% url 'profile' profile.pk %}">Back to profile</a>
{% endblock %}
